@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: hsl(0, 3%, 81%);
}

body > input {
    font-size: 32px;
    
    
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 450px;
    width: 500px;
    border-radius: 10px 10px 100px 10px;
    background-color: white;
    transform: translate(-50%, -50%);
}



div#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.input-container {
   
}

#idia , #imes , #iano {
    width: 80px;
    height: 40px;
    margin: 10px 20px 20px 30px;
    font-size: 1em;
    font-weight: 700;
    
    justify-content: start;
}



label {
    margin: 10px 20px 20px 30px;
    color: rgb(117, 117, 117);
    font-weight: 700;
    
}

.inputs-wrapper {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 30px;
    height: 100px;
}


span.material-symbols-outlined {
    font-size: 50px;
    background-color: hsl(259, 100%, 65%);
    color: white;
    border-radius: 50%;
}

button {
    border-style: none;
    background-color: white;
    cursor: pointer;
}

div#res {
    
    color: black;
    width: 400px;
    font-size: 2.3em;
    height: auto;
    text-align: start;
}

#res.placeholder {
    color: hsl(259, 100%, 65%);
  }